# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Distribution / build folders
dist/
build/
out/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Temporary files
*.tmp
*.bak
*.swp 